[class^='bn-notify'] {
  opacity: 0 !important;
}

[class^='bn-notify'] * {
  opacity: 0 !important;
}

.card-overlay {
  opacity: 0;
  backdrop-filter: blur(4px);
  transition: all 0.4s ease-in-out;
}

.card:hover .card-overlay {
  opacity: 0.8;
}

div[type='radio'] {
  display: none !important;
}

div[role='radiogroup'] > div {
  margin-bottom: 0;
}
